body {
  color: #343A40;
  font-family: 'Roboto';
  height: auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fugaz One';
}

h2 {
  color: #EB4616;
}

h4 {
  color: #EB4616;
}

.navbar-brand {
  font-family: 'Fugaz One'
}

span {
  color: #EB4616;
}

.navbar-dark {
  background-color: #004b79 !important;
}

.bg-dark {
  background-color: #004b79 !important;
}

.subtitle {
  color: white;
}

.title {
  color: #eb4616;
}

.jumbotron-home {
  background-image: url(../images/home-bg.jpg);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
